@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

.background-container {
  background-color: #f4d2bd;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px 0 24px 0;
}

.heading-title {
  font-size: 100px;
  font-weight: bold;
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  text-shadow:
    1px 1px 0 white,
   -1px 1px 0 white,
    1px -1px 0 white,
   -1px -1px 0 white;
}


.button-group-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 175px;
  align-items: center;
}

.button-base {
  font-weight: 500;
  color: black;
  border: none;
  border-radius: 9999px;
  transition: background-color 0.2s;
  padding: 15px 25px;
  font-size: 25px;
}

.button-large {
  background-color: #fef08a;
  padding: 16px 64px;
  font-size: 48px;
}

.button-large:hover {
  background-color: #fde047;
}

.button-small {
  background-color: #fef9c3;
  padding: 6px 24px;
  font-size: 20px;
}

.button-small:hover {
  background-color: #fef08a;
}

