@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

.background-container {
  background-color: #f4d2bd;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  justify-content: flex-start;
  padding-top: 3rem;
}

.heading-title {
  font-size: 5rem;
  font-weight: bold;
  padding-top: 2.5rem;
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  text-shadow:
    1px 1px 0 white,
   -1px 1px 0 white,
    1px -1px 0 white,
   -1px -1px 0 white;
}


.button-group-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 9rem;
  align-items: center;
}

.button-base {
  font-weight: 500;
  color: black;
  border: none;
  border-radius: 9999px;
  transition: background-color 0.2s;
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
}

.button-large {
  background-color: #fef08a;
  padding: 1rem 4rem;
  font-size: 3rem;
}

.button-large:hover {
  background-color: #fde047;
}

.button-small {
  background-color: #fef9c3;
  padding: 0.6rem 1.5rem;
  font-size: 0.9rem;
  width: 9rem;
}

.button-small:hover {
  background-color: #fef08a;
}
